################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpaceSim/.vs/SpaceSim/v15/ipch/AutoPCH/3c6ede2d2d813563
/SpaceSim/Debug
/SpaceSim/SpaceSim.vcxproj.filters
/SpaceSim/SpaceSim.vcxproj
/SpaceSim/SpaceSim.sln
/SpaceSim/.vs/SpaceSim/v15/Browse.VC.opendb
/SpaceSim/.vs/SpaceSim/v15/Browse.VC.db
/SpaceSim/.vs/SpaceSim/v15/.suo
